<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qx.eis.mapper.EisTaskScoreMapper">
    
    <resultMap type="EisTaskScore" id="EisTaskScoreResult">
        <result property="id"    column="id"    />
        <result property="scaleId"    column="scale_id"    />
        <result property="taskId"    column="task_id"    />
        <result property="patientId"    column="patient_id"    />
        <result property="score"    column="score"    />
        <result property="workstation"    column="workstation"    />
        <result property="testDate"    column="test_date"    />
        <result property="typeIds"    column="type_ids"    />
    </resultMap>

    <sql id="selectEisTaskScoreVo">
        select id, scale_id, task_id, patient_id, score, workstation, test_date, type_ids from eis_task_score
    </sql>

    <select id="selectEisTaskScoreList" parameterType="EisTaskScore" resultMap="EisTaskScoreResult">
        <include refid="selectEisTaskScoreVo"/>
        <where>  
            <if test="scaleId != null "> and scale_id = #{scaleId}</if>
            <if test="taskId != null "> and task_id = #{taskId}</if>
            <if test="patientId != null "> and patient_id = #{patientId}</if>
            <if test="workstation != null  and workstation != ''"> and workstation = #{workstation}</if>
            <if test="testDate != null "> and test_date = #{testDate}</if>
            <if test="typeIds != null  and typeIds != ''"> and type_ids = #{typeIds}</if>
        </where>
    </select>
    
    <select id="selectEisTaskScoreById" parameterType="Long" resultMap="EisTaskScoreResult">
        <include refid="selectEisTaskScoreVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertEisTaskScore" parameterType="EisTaskScore">
        insert into eis_task_score
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">id,</if>
            <if test="scaleId != null ">scale_id,</if>
            <if test="taskId != null ">task_id,</if>
            <if test="patientId != null ">patient_id,</if>
            <if test="score != null ">score,</if>
            <if test="workstation != null  and workstation != ''">workstation,</if>
            <if test="testDate != null ">test_date,</if>
            <if test="typeIds != null  and typeIds != ''">type_ids,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="scaleId != null ">#{scaleId},</if>
            <if test="taskId != null ">#{taskId},</if>
            <if test="patientId != null ">#{patientId},</if>
            <if test="score != null ">#{score},</if>
            <if test="workstation != null  and workstation != ''">#{workstation},</if>
            <if test="testDate != null ">#{testDate},</if>
            <if test="typeIds != null  and typeIds != ''">#{typeIds},</if>
         </trim>
    </insert>

    <update id="updateEisTaskScore" parameterType="EisTaskScore">
        update eis_task_score
        <trim prefix="SET" suffixOverrides=",">
            <if test="scaleId != null ">scale_id = #{scaleId},</if>
            <if test="taskId != null ">task_id = #{taskId},</if>
            <if test="patientId != null ">patient_id = #{patientId},</if>
            <if test="score != null ">score = #{score},</if>
            <if test="workstation != null  and workstation != ''">workstation = #{workstation},</if>
            <if test="testDate != null ">test_date = #{testDate},</if>
            <if test="typeIds != null  and typeIds != ''">type_ids = #{typeIds},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEisTaskScoreById" parameterType="Long">
        delete from eis_task_score where id = #{id}
    </delete>

    <delete id="deleteEisTaskScoreByIds" parameterType="String">
        delete from eis_task_score where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>