<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qx.ipa.mapper.IpaMediaMapper">
    
    <resultMap type="IpaMedia" id="IpaMediaResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="local"    column="local"    />
        <result property="mark"    column="mark"    />
    </resultMap>

    <sql id="selectIpaMediaVo">
        select id, title, local, mark from ipa_media
    </sql>

    <select id="selectIpaMediaList" parameterType="IpaMedia" resultMap="IpaMediaResult">
        <include refid="selectIpaMediaVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="local != null  and local != ''"> and local = #{local}</if>
            <if test="mark != null  and mark != ''"> and mark = #{mark}</if>
        </where>
    </select>
    
    <select id="selectIpaMediaById" parameterType="Long" resultMap="IpaMediaResult">
        <include refid="selectIpaMediaVo"/>
        where id = #{id}
    </select>

    <select id="selectIpaMediaByMark" parameterType="String" resultMap="IpaMediaResult">
        <include refid="selectIpaMediaVo"/>
        where mark = #{mark}
    </select>
        
    <insert id="insertIpaMedia" parameterType="IpaMedia" useGeneratedKeys="true" keyProperty="id">
        insert into ipa_media
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null  and title != ''">title,</if>
            <if test="local != null  and local != ''">local,</if>
            <if test="mark != null  and mark != ''">mark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null  and title != ''">#{title},</if>
            <if test="local != null  and local != ''">#{local},</if>
            <if test="mark != null  and mark != ''">#{mark},</if>
         </trim>
    </insert>

    <update id="updateIpaMedia" parameterType="IpaMedia">
        update ipa_media
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null  and title != ''">title = #{title},</if>
            <if test="local != null  and local != ''">local = #{local},</if>
            <if test="mark != null  and mark != ''">mark = #{mark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteIpaMediaById" parameterType="Long">
        delete from ipa_media where id = #{id}
    </delete>

    <delete id="deleteIpaMediaByIds" parameterType="String">
        delete from ipa_media where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>