<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qx.system.mapper.SysAttachmentMapper">
    
    <resultMap type="SysAttachment" id="SysAttachmentResult">
        <result property="id"    column="id"    />
        <result property="hash"    column="hash"    />
        <result property="name"    column="name"    />
        <result property="fileName"    column="file_name"    />
        <result property="size"    column="size"    />
        <result property="path"    column="path"    />
        <result property="absPath"    column="abs_path"    />
        <result property="userid"    column="userId"    />
        <result property="ext"    column="ext"    />
        <result property="type"    column="type_"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSysAttachmentVo">
        select id, hash, name, file_name, size, path, abs_path, userId, ext, type_, status, create_time, update_time, remark from sys_attachment
    </sql>

    <select id="selectSysAttachmentList" parameterType="SysAttachment" resultMap="SysAttachmentResult">
        <include refid="selectSysAttachmentVo"/>
        <where>  
            <if test="hash != null  and hash != ''"> and hash = #{hash}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="size != null "> and size = #{size}</if>
            <if test="path != null  and path != ''"> and path = #{path}</if>
            <if test="absPath != null  and absPath != ''"> and abs_path = #{absPath}</if>
            <if test="userid != null "> and userId = #{userid}</if>
            <if test="ext != null  and ext != ''"> and ext = #{ext}</if>
            <if test="type != null  and type != ''"> and type_ = #{type}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectSysAttachmentById" parameterType="Long" resultMap="SysAttachmentResult">
        <include refid="selectSysAttachmentVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysAttachment" parameterType="SysAttachment" useGeneratedKeys="true" keyProperty="id">
        insert into sys_attachment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="hash != null  and hash != ''">hash,</if>
            <if test="name != null  and name != ''">name,</if>
            <if test="fileName != null  and fileName != ''">file_name,</if>
            <if test="size != null ">size,</if>
            <if test="path != null  and path != ''">path,</if>
            <if test="absPath != null  and absPath != ''">abs_path,</if>
            <if test="userid != null ">userId,</if>
            <if test="ext != null  and ext != ''">ext,</if>
            <if test="type != null  and type != ''">type_,</if>
            <if test="status != null ">status,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="hash != null  and hash != ''">#{hash},</if>
            <if test="name != null  and name != ''">#{name},</if>
            <if test="fileName != null  and fileName != ''">#{fileName},</if>
            <if test="size != null ">#{size},</if>
            <if test="path != null  and path != ''">#{path},</if>
            <if test="absPath != null  and absPath != ''">#{absPath},</if>
            <if test="userid != null ">#{userid},</if>
            <if test="ext != null  and ext != ''">#{ext},</if>
            <if test="type != null  and type != ''">#{type},</if>
            <if test="status != null ">#{status},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSysAttachment" parameterType="SysAttachment">
        update sys_attachment
        <trim prefix="SET" suffixOverrides=",">
            <if test="hash != null  and hash != ''">hash = #{hash},</if>
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="fileName != null  and fileName != ''">file_name = #{fileName},</if>
            <if test="size != null ">size = #{size},</if>
            <if test="path != null  and path != ''">path = #{path},</if>
            <if test="absPath != null  and absPath != ''">abs_path = #{absPath},</if>
            <if test="userid != null ">userId = #{userid},</if>
            <if test="ext != null  and ext != ''">ext = #{ext},</if>
            <if test="type != null  and type != ''">type_ = #{type},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysAttachmentById" parameterType="Long">
        delete from sys_attachment where id = #{id}
    </delete>

    <delete id="deleteSysAttachmentByIds" parameterType="String">
        delete from sys_attachment where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>